{% extends "tutor/homepage.html"%}

{% load crispy_forms_tags %}

{% block content %}
<script>
    document.getElementById("nav").style.display = "block";
</script>
<div class="container">
    <center>

        <div class="row justify-content-center align-items-center">
            <div class="col">

                <form method="post" enctype="multipart/form-data" class="mt-5"
                    style="max-width: 480px; display: inline-block;">
                    {% csrf_token %}

                    {{form|crispy}}





                    <input type="submit" value="submit" class="btn btn-outline-secondary btn-lg rounded-pill mt-3 "
                        style="max-width: 300px; min-width: 200px;">
                </form>
            </div>
        </div>
    </center>
</div>






{% endblock %}