{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.css'%}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        * {
            padding: 0;
            box-sizing: border-box;


        }


        .img-circ {
            width: 90px;
            height: 90px;
            border-radius: 100px;
            object-fit: cover;


        }

        .nav-cent {
            left: 50%;
            transform: translateX(-50);

        }

        /* navbar css */
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;


        }



        .anim {
            transition: opacity 0.15;
        }

        .anim:hover {
            opacity: 0.7;
        }


        .navbar-toggler {
            border-color: rgb(185, 179, 179);

        }

        /* changing  color of navbar icon */
        .navbar-toggler-icon {
            filter: invert(1);

        }

        .back-nav {
            margin: 0;
            padding: 0;
            background-color: transparent;
        }

        .back-nav1 {
            background-color: rgb(77, 73, 73);
        }

        .hidden {
            display: none;
        }
      

        .cardh:hover {
            opacity: 0.9;
           
        }

        .cardh:active {
            color: grey;
        }
        .search{
            display: inline-block;
            max-width: 500px;
       
        }
        .text{
            font-size: 30px;
            font-family:'Courier New', Courier, monospace;
        }
        /* end nav */
    </style>
</head>

<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-md  back-nav1  custom-pill   hidden " id="nav">
        <div class="container-fluid">
            <a class="navbar-brand text-light  display-5 fw-semibold fs-2 ms-3" href="{% url 'home'%}">Scholarly</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse justify-content-center navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                    <a class="nav-link text-light display-5 anim fw-semibold" style="font-size: 19px;"
                        saria-current="page" href="{% url 'home' %}">Home</a>

                    <!-- only seen on small screens in the toggle -->
                    <!-- if for the small screen phones -->
                    {% if user.is_authenticated %}
                    <!-- become a tutor small screen -->
                    <a class="nav-link 	.d-none .d-sm-block .d-md-none d-lg-none d-xl-none "
                        href="{%  url 'tutor_reg' %}" style="display: inline-block;">
                        <button class="btn btn-light text-dark ps-3 pe-3 rounded-pill  fw-semibold" type="submit">
                            Become a Tutor</button>
                    </a>

                    <!-- logout small screen -->
                    <form action="{% url 'logout' %}" method="post" style="display: inline-block;">
                        {% csrf_token %}
                        <input type="submit"
                            class="nav-link 	.d-none .d-sm-block .d-md-none d-lg-none d-xl-none text-light anim fw-bold "
                            value="log out">
                    </form>



                    {% else %}
                    <a class="nav-link 	.d-none .d-sm-block .d-md-none d-lg-none d-xl-none text-light anim fw-bold"
                        href="{%  url 'login' %}" style="display: inline-block;">
                        Login </a>

                    <a class="nav-link 	.d-none .d-sm-block .d-md-none d-lg-none d-xl-none "
                        href="{%  url 'register' %}" style="display: inline-block;">
                        <button class="btn btn-light text-dark ps-3 pe-3 rounded-pill  fw-semibold" type="submit">
                            Register</button>
                    </a>

                    {% endif %}


                </div>

            </div>
            <!-- the login at the end of the nav -->
            <div class=" navbar-nav justify-content-end d-none d-md-block me-4">
                <!-- if for the end of the navbar -->
                {% if user.is_authenticated %}

                <!-- become a tutor on large screens -->

                <a class="nav-link  " href="{%  url 'tutor_reg' %}" style="display: inline-block;">
                    <button class="btn btn-light text-dark ps-3 pe-3 rounded-pill  fw-semibold" type="submit">
                        Become a Tutor</button>
                </a>

                <!-- log out on large screens -->
                <form action="{% url 'logout' %}" method="post" style="display: inline-block;">
                    {% csrf_token %}
                    <input type="submit" class="nav-link text-light anim fw-semibold " value="log out">
                </form>
                <!-- end logout -->

                {% else %}
                <!-- not authenticated -->

                <a class="nav-link text-light anim fw-semibold " href="{% url 'login' %}"
                    style="display: inline-block; font-size: 19px;">Log in </a>
                <a class=" ms-2 nav-link  " href="{% url 'register' %}" style="display: inline-block; font-size: 19px;">
                    <button class="btn btn-light text-dark ps-3 pe-3 rounded-pill  fw-semibold">Register</button>
                </a>


                {% endif %}
            </div>


        </div>

    </nav>

    <!-- end nav -->


    {% block content %}
    <div class="main">

    </div>

    {% if user.is_authenticated %}
    <!-- add search bar -->
    <!-- add footer footer -->




    <script>
        document.getElementById("nav").style.display = "block";
    </script>

    <!-- tutor cards code -->


    <div class=" container" >
        
            
            <!-- <form action="" method="get" >
                {{form}}
                <label for="search">search</label>
                <input type="submit" class="btn btn-outline-secondary mt-3 ms-5" value="search">
            </form>
             -->
             <center>
                <form action="" method="get" class="mt-3" >
                    <input type="text" name="a" id="" class="form-control" style="max-width: 400px; display: inline-block;" placeholder="Search for course or unit">
                    <input type="submit" class="btn btn-outline-secondary ms-2">
                 </form>
             </center>
            
            
            
          
        
        

        <div class="row mt-3">

            {% for i in data %}


            <div class=" col-md-3 ">
                <div class="card shadow mt-1 mb-3 border-1 border-rounded rounded bg-light cardh " style="height: 300px;
                background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url({{ i.profile.url }});
            background-position: center; background-repeat: no-repeat; background-size: cover; ">


<!-- 
                    <div>
                        <img src="{{ i.profile.url }}" alt="No profile"
                            class=" rounded-circle img-fluid img-circ  ms-4 mt-3 " style="max-width: 200px;">

                    </div> -->



                    <a href="{% url 'scholar_det' i.id %}" style="text-decoration: none; color: black;">

                        <div class="card-body me-5 p-3 pb-3  " >

                           

                                <div class="card-title " style="margin-top: 170px; margin-right: 100px;">
                                    <p class="text-light fs-5 fw-bold">{{i.user.username}}</p>
                                </div>
    
    
                                <div class="card-text text-light fs-5 fw-semibold" >
                                    <p>{{i.expertise}}</p>
                                </div>
    
                           
                            


                        </div>

                    </a>






                </div>
            </div>





            {% endfor %}
        </div>

    </div>

    <!-- end of tutor cards -->




    {% else %}
    <!-- landing page when user is not logged in -->
    <!-- add more info the landing page -->
    <!-- add a footer -->

    <div class="box1" style="
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ,url('{% static 'images/bg2.jpg'%}') no-repeat center center/cover; 
        height: 100vh;">
        <div class="pb-1">

        </div>
        <!-- error in acceptable -->
        <!-- navbar -->
        <nav class="navbar navbar-expand-md navbar-light back-nav border-none custom-pill  ms-2 me-2 mt-1 ">
            <div class="container-fluid">
                <a class="navbar-brand text-light display-5 fw-semibold fs-2 ms-3" href="#">Scholarly</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="collapse justify-content-center navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ">
                        <a class="nav-link text-light display-5 anim fw-semibold" style="font-size: 19px;"
                            saria-current="page" href="{% url 'home' %}">Home</a>

                        <!-- only seen on small screens in the toggle -->
                        <!-- if for the small screen phones -->
                        {% if user.is_authenticated %}
                        <!-- become a tutor small screen -->
                        <a class="nav-link 	.d-none .d-sm-block .d-md-none d-lg-none d-xl-none text-light anim fw-bold"
                            href="#" style="display: inline-block;">
                            Become a tutor </a>

                        <!-- logout small screen -->
                        <form action="{% url 'logout' %}" method="post" style="display: inline-block;">
                            {% csrf_token %}
                            <a class="nav-link 	.d-none .d-sm-block .d-md-none d-lg-none d-xl-none " href="#"
                                style="display: inline-block;">
                                <button class="btn btn-outline-light text-dark fw-bold" type="submit">
                                    log out </button>
                            </a>
                        </form>



                        {% else %}
                        <a class="nav-link 	.d-none .d-sm-block .d-md-none d-lg-none d-xl-none text-light anim fw-bold"
                            href="{%  url 'login' %}" style="display: inline-block;">
                            Login </a>

                        <a class="nav-link 	.d-none .d-sm-block .d-md-none d-lg-none d-xl-none "
                            href="{%  url 'register' %}" style="display: inline-block;">
                            <button class="btn btn-light text-dark ps-3 pe-3 rounded-pill  fw-semibold" type="submit">
                                Register</button>
                        </a>

                        {% endif %}


                    </div>

                </div>
                <!-- the login at the end of the nav -->
                <div class=" navbar-nav justify-content-end d-none d-md-block">
                    <!-- if for the end of the navbar -->
                    {% if user.is_authenticated %}


                    <form action="{% url 'logout' %}" method="post" style="display: inline-block;">
                        {% csrf_token %}
                        <a class=" ms-2 nav-link " href="" style="display: inline-block;">
                            <button class="btn btn-outline-light text-dark shadow fw-bold" type="submit">log
                                out</button>
                        </a>
                    </form>

                    <!-- continue here -->

                    <a class="nav-link" href="{% url 'tutor_reg' %}" style="display: inline-block;">
                        <button class="btn btn-outline-light text-dark shadow fw-bold">Become a tutor</button>
                    </a>


                    {% else %}

                    <a class="nav-link text-light anim fw-semibold " href="{% url 'login' %}"
                        style="display: inline-block; font-size: 19px;">Log in </a>
                    <a class=" ms-2 nav-link  " href="{% url 'register' %}"
                        style="display: inline-block; font-size: 19px;">
                        <button class="btn btn-light text-dark ps-3 pe-3 rounded-pill  fw-semibold">Register</button>
                    </a>


                    {% endif %}
                </div>


            </div>

        </nav>

        <!-- end nav -->
        <div class="box1">
            <div class="container">
                <div class="row ">
                    <div class="col-12 text-center " style="margin-top: 150px;">
                        <p class="display-3   text-light ">
                            Grade up , and achieve <br> your dreams today
                        </p>
                    </div>

                    <div class="col-12 text-center mt-2">
                        <a href="{% url 'register' %}"
                            class="btn btn-light text-dark mt-sm-3  me-3 btn-lg shadow border-dark fw-semibold ps-5 pe-5 rounded-pill">
                            Become a Member </a>
                        <a href="{% url 'login' %}"
                            class="btn btn-outline-dark shadow mt-sm-3 text-light btn-lg border-dark fw-semibold ps-5 pe-5 rounded-pill ">Log
                            In </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- more explanation -->
    <div class="container">
        <h1 class="fw-bold display-1 text-center mt-3">About Scholarly </h1>
        <div class="col">
            <!-- <div class="row- md-6">
                <img src="https://www.shutterstock.com/search/black-girls-reading" alt="no image" class="img-fluid">
            </div> -->
            <div class="row-md-6">
                <p class="  text-center mt-5 text shadow" >
                    Scholarly was built for students who yearn for knowledge and want to improve themselves , this involves students who want to share their knowledge in a particular course ,unit, skill etc..
                    .So if you are a student who wants to learn or teach others and you're in Thika Technical Training Institute , i assure you this is the  place for you. <br> Get of your butts and uavoid supp
                </p>
             
            </div>
        </div>
    </div>



    {% endif %}



    {% endblock %}
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>

</html>