{% extends "tutor/homepage.html"%}

{% load crispy_forms_tags %}

{% block content %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <script>
        document.getElementById("nav").style.display = "block";
     </script>
     <div class="container">
        <center>
        
            <form method="post" class="mt-5" style="max-width: 480px; min-width: 100px;">
                {% csrf_token %}
       
                {{form|crispy}}
                
                <input type="submit" value="submit" class="btn btn-outline-secondary btn-lg rounded-pill mt-3 " style="max-width: 300px; min-width: 250px;">
            </form>
    
        </center>
     </div>
    
   

{% endblock %}